.main {

    min-height: 100%;   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;  
    position: relative;     

    background-image: url('./../../assets/background/gold_scale/gold_scale.png');
    background-repeat: repeat;   

    .main-container { 
        
        background-color: none;       
        position: relative;
        width:110rem;   
        z-index: 2;
       
        @include respond(lg) {

            width:100%;   

        }
              
    }

}