.letters-image-kata {

    display: block;
    position: absolute;
    z-index: 10;
    width: 20rem;
    bottom: 7rem;
    left: 7rem;
    filter: invert(1);

    @include respond(sm) {

        display: none;
    }

}