.main-container {

    &__segment-4 {

        position: relative;
        top: -44rem;
        background-color: rgba(27, 27, 27, 0.9);
        -webkit-clip-path: polygon(0 0, 100% 20%, 100% 74%, 0% 100%);
        clip-path: polygon(0 0, 100% 20%, 100% 74%, 0% 100%);
        z-index: 4;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30rem 0;

        @include respond(lg) {
            padding: 20rem 0;
            -webkit-clip-path: polygon(0 0, 100% 15%, 100% 85%, 0% 100%);
            clip-path: polygon(0 0, 100% 15%, 100% 85%, 0% 100%);

        }

        @include respond(md) {

            -webkit-clip-path: polygon(0 0, 100% 6%, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 6%, 100% 100%, 0% 100%);
            margin-bottom: -44rem;
            padding: 30rem 0 10rem 0;

        }

        @include respond(sm) {

            padding: 25rem 0 10rem 0;
            margin-bottom: -30rem;          
            top: -30rem;

        }

        .main-segment-4-wrapper {

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            @include respond(md) {

                flex-direction: column;

            }

            &__wrap {

                padding: 1rem;
                width: 28rem;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;

                @include respond(lg) {

                    width: 25rem;

                }

                @include respond(md) {

                    width: 50rem;

                }

                @include respond(sm) {

                    width: 80%;

                }


                &--margin-top {

                    margin-top: 15rem;

                    @include respond(md) {

                        margin-top: 0rem;

                    }

                }

                .main-segment-4-image {

                    object-fit: contain;
                    max-width: 100%;
                    transition: all 0.35s ease-in-out;

                    &:hover {

                        filter: grayscale(1);

                    }

                }

            }

        }

    }

}