.main-container {

    &__segment-5 {   

        position: relative;
        max-width: 100%;
        margin-top: -142rem;  
        display: block;

        @include respond(md) {
            
            display: none;

        }
        
        .main-segment-image-5 {
         
             width: 100%;

        }     

    }

}